<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<title></title>
		<!--<link rel="stylesheet"  type="text/css" href="../../public/bootstrap/css/bootstrap.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../public/css/login/complete.css"/>
	</head>
	<body>
		<div class="capacity">
			<p class="capacity_01">注册完成，等待后天确认</p>
			<input type="submit" value="确认" class="capacity_02"></input>
		</div>
		
		
		<script src="../../public/js/jQuery1.12/jquery-1.12.2.js"></script>
		<script src="../../public/js/jQuery1.12/bootstrap.min.js"></script>
		<script src="../../public/js/register/register.js"></script>
	</body>
</html>
