<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<title>东山之家 - 杭州摆摆网络科技有限公司</title>
    	<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    	<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
   		 摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		
		<link rel="stylesheet" type="text/css" href="../../public/css/login/mno.css"/>
	</head>
	<body>
		<div class="head">
			<img src="../../public/img/login/nav_back_icon@2x.png" class="head_img" />
			<p class="head_p">运营商</p>
			<div style="clear: both;"></div>
		</div>
		<div class="head_01">必填项</div>
		<div class="head_portrait">
			添加头像
		</div>
		<div class="banner">
			<input type="text" placeholder="公司名" class="banner_input" />
			<input type="text" placeholder="企业邮箱/公司总机" class="banner_input" />
			<input type="text" placeholder="联系人" class="banner_input" />
			<input type="text" placeholder="联系方式" class="banner_input" />
		</div>
		<div class="head_01">选填项</div>
		<input type="text" placeholder="微信号码" class="banner_input" />
		<div class="papers">
			<div class="papers_left">
				微信二维码
			</div>
			<div class="papers_center">
				营业执照
			</div>
			<div class="papers_right">
				运营/租赁协议
			</div>
			<div style="clear: both;"></div>
		</div>
		<input type="submit" value="完成" class="finish"/>
	</body>
</html>
