<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<title></title>
		<!--<link rel="stylesheet"  type="text/css" href="../../public/bootstrap/css/bootstrap.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../public/css/homepage/homepage03.css"/>
	</head>
	<body>
		<div class="box">
			<div class="box_left">
				<ul>
					<li class="box_left_li">
						<h3>全部</h3>
					</li>
					<li class="box_left_li">
						<h3>闵行</h3>
					</li>
					<li class="box_left_li">
						<h3>浦东</h3>
					</li>
					<li class="box_left_li">
						<h3>嘉定</h3>
					</li>
					<li class="box_left_li">
						<h3>宝山</h3>
					</li>
					<li class="box_left_li">
						<h3>闸北</h3>
					</li>
					<li class="box_left_li">
						<h3>松江</h3>
					</li>
					<li class="box_left_li">
						<h3>浦东青浦</h3>
					</li>
					<li class="box_left_li">
						<h3>徐汇</h3>
					</li>
					<li class="box_left_li">
						<h3>普陀</h3>
					</li>
					
				</ul>
			</div>
			<div class="box_right">
				<ul>
					<li class="box_right_li">
						<h4>全部</h4>
					</li>
					<li class="box_right_li">
						<h4>八佰伴</h4>
					</li>
					<li class="box_right_li">
						<h4>川沙</h4>
					</li>
					<li class="box_right_li">
						<h4>花木</h4>
					</li>
					<li class="box_right_li">
						<h4>金桥</h4>
					</li>
					
				</ul>
			</div>
			<div style="clear: both;"></div>
		</div>
	</body>
</html>
