<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<title></title>
		<!--<link rel="stylesheet"  type="text/css" href="../../public/bootstrap/css/bootstrap.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../public/css/homepage/homepage03.css"/>
	</head>
	<body>
		<div class="box">
			<div class="box_left">
				<ul>
					<li class="box_left_li">
						<h3>地铁</h3>
					</li>
					<li class="box_left_li">
						<h3>房型</h3>
					</li>
					<li class="box_left_li">
						<h3>装修</h3>
					</li>
					
				</ul>
			</div>
			<div class="box_right">
				<ul>
					<li class="box_right_li">
						<h4>全部</h4>
					</li>
					<li class="box_right_li">
						<h4>豪装</h4>
					</li>
					<li class="box_right_li">
						<h4>精装</h4>
					</li>
					<li class="box_right_li">
						<h4>简装</h4>
					</li>
					<li class="box_right_li">
						<h4>标准交付</h4>
					</li>
					<li class="box_right_li">
						<h4>毛坯</h4>
					</li>
					
				</ul>
			</div>
			<div style="clear: both;"></div>
		</div>
	</body>
</html>
