<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<title>东山之家 - 杭州摆摆网络科技有限公司</title>
    	<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    	<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
   		 摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		
		<link rel="stylesheet" type="text/css" href="../../public/css/homepage/search.css"/>
	</head>
	<body>
		<div class="search">
			<div class="search_img">
				<img src="../../public/img/homepage/banner_icon_search@2x.png" />
			</div>
			<input class="search_input" type="text" placeholder="挑好房，上东山之家" />
			<div class="search_cuo">x</div>
			<button class="search_button">取消</button>
			<div style="clear:both;"></div>
		</div>
		<div class=" search_ht">
			<span class="search_ht_span">
				最近搜索
			</span>
			<input class="search_ht_reset" type="reset" value="清除" />
			<div style="clear:both;"></div>
		</div>
		
	</body>
</html>
