<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<title></title>
		<!--<link rel="stylesheet"  type="text/css" href="../../public/bootstrap/css/bootstrap.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../public/css/data/about.css"/>
	</head>
	<body>
		<div class="head">
			<img src="../../public/img/login/nav_back_icon@2x.png" class="head_img" />
			<p class="head_p">关于</p>
			<div style="clear: both;"></div>
		</div>
		<div class="banner">
			<img src="../../public/img/login/content_img_logo@2x.png" class="banner_img"/>
			<div class="release">
				<img src="../../public/img/login/loading_05.png" class="banner_img01"/>
				<p class="release_01">v1.0.0</p>
				<div style="clear: both;"></div>
			</div>
		</div>
		<div class="banner_01">
				<label>
					<span class="banner_span">电话：</span>
					<img src="../../public/img/login/nav_icon_back@2a.png" class="banner_right"></img>
					<input type="text" value="" class="banner_input" />
					<div style="clear: both;"></div>
				</label>
		</div>
		<div class="banner_01">
				<label>
					<span class="banner_span">服务条款：</span>
					<img src="../../public/img/login/nav_icon_back@2a.png" class="banner_right"></img>
					<input type="text" value="" class="banner_input" />
					<div style="clear: both;"></div>
				</label>
		</div>
		<p class="footer">dongshangzhijia.com </p>
	</body>
</html>
