<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scale=no" />
		<title></title>
		<!--<link rel="stylesheet"  type="text/css" href="../../public/bootstrap/css/bootstrap.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../public/css/data/set.css"/>
	</head>
	<body>
		<div class="head">
			<img src="../../public/img/login/nav_back_icon@2x.png" class="head_img" />
			<p class="head_p">设置</p>
			<div style="clear: both;"></div>
		</div>
		<div class="banner_01">
				<label>
					<span class="banner_span">接受需求</span>
					<div class="banner_right">
						<div class="banner_yuan"></div>
					</div>

					<div style="clear: both;"></div>
				</label>
		</div>
		<div class="banner_01">
				<label>
					<span class="banner_span">关于</span>
					<img src="../../public/img/login/nav_icon_back@2a.png" class="banner_img"></img>
					<div style="clear: both;"></div>
				</label>
		</div>
		<div class="banner_01">
				<label>
					<span class="banner_span">清除缓存</span>
					<img src="../../public/img/login/nav_icon_back@2a.png" class="banner_img"></img>
					<span class="banner_input_span" >7.02M</span>
					<div style="clear: both;"></div>
				</label>
		</div>
		<div class="banner_01">
			<span class="banner_input_span01" >退出登录</span>
		</div>
	</body>
</html>
